# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
parser_by_hands/parser_by_hands.depend
parser_by_hands/parser_by_hands.layout
parser_by_hands/input.txt
parser_by_hands/output.txt
parser_by_hands/tests/tests.layout
parser_by_hands/tests/tests.depend
func_to_imperative/functional_parser.tab.cpp
func_to_imperative/functional_parser.tab.hpp
func_to_imperative/func_to_imperative.layout
func_to_imperative/input.txt
func_to_imperative/output.txt
func_to_imperative/func_to_imperative.depend
generator/input.txt
generator/generator.depend
generator/generator.layout
generator/input_reader/input_file_grammar.tab.cpp
generator/input_reader/input_file_grammar.tab.hpp
generator/output.txt
