# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
parser_by_hands/parser_by_hands.depend
parser_by_hands/parser_by_hands.layout
parser_by_hands/input.txt
parser_by_hands/output.txt
parser_by_hands/tests/tests.layout
parser_by_hands/tests/tests.depend
